# Local, password-full
local_settings.ini
granadilla_webapp/db.sqlite3

# Development data
dev/data

# Temporary files
.*.swp
*.pyc
*.pyo
__pycache__/

# Build-related files
granadilla_webapp/static
docs/_build/
.coverage
.tox
*.egg-info
*.egg
build/
dist/
htmlcov/
MANIFEST

