include ChangeLog COPYING INSTALL LICENSE README.rst
include requirements*.txt

graft granadilla

graft dev
graft granadilla_webapp

global-exclude *.py[cod] __pycache__ *.swp *.mo

include *_settings.ini granadilla-admin Makefile manage.py tox.ini .flake8 .travis.yml
