{% extends "granadilla/contact_base.html" %}
{% load i18n %}

{% block content %}
<form method="POST">
{% csrf_token %}
<table class="module">
<caption>{% if object %}{{ object }}{% else %}{% trans "Add a contact" %}{% endif %}</caption>
<table class="contact">
{{ form }}
<tr>
  <td>&nbsp;</td>
  <td><button type="submit">{% if object %}{% trans "Modify" %}{% else %}{% trans "Add" %}{% endif %}</button><a href="{% url "granadilla.views.contact_list" %}"><button type="button">{% trans "Cancel" %}</button></a>
  </td>
</tr>
</table>
</form>
{% endblock %}
